.fs-7 {
    font-size: 0.85rem;
}

.payment-box {
    background-color: #f0f7ff;
    /* Light blue background */
    border: 1px solid #e0f2fe;
}

.text-primary {
    color: #0d6efd !important;
    /* Bootstrap primary blue */
}

.badge.bg-success.bg-opacity-10 {
    background-color: rgba(25, 135, 84, 0.1) !important;
    color: #198754 !important;
}

.badge.bg-warning.bg-opacity-25 {
    background-color: rgba(255, 193, 7, 0.25) !important;
}

.btn-white {
    background-color: #fff;
    border-color: #dee2e6;
}

.btn-white:hover {
    background-color: #f8f9fa;
}

.overlay-hidden {
    overflow: hidden;
}